 body {
  font-family: Arial, sans-serif;
 background-color:aquamarine;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;

 
 

  

}
home {
  text-align: center;
  padding: 20px;
}
About, .programs, .events, .contact {
  padding: 20px;
  background-color: aquamarine;
  display : inline-block;
  display: inline;
}
h1, h2, h3 {
  color:#125;
}

nav {
  background: #612d2d;
  color: #3d0d0d;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
